
        
    <link href="__PUBLIC__/fileinput/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="__PUBLIC__/fileinput/stylesheet" type="text/css" href="bootstrap/css/default.css">
    <link href="__PUBLIC__/fileinput/bootstrap/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />    

    <script src="__PUBLIC__/fileinput/bootstrap/js/jQuery-2.2.0.min.js"></script>
    <script src="__PUBLIC__/fileinput/bootstrap/js/fileinput.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/fileinput/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/fileinput/js/locales/zh.js" type="text/javascript"></script>