<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>{$current['title']}-{$Think.CONFIG.title}</title>

        <meta name="keywords" content="{$Think.CONFIG.keywords}" />
        <meta name="description" content="{$Think.CONFIG.description}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <include file="Public/head" />

        <script type="text/javascript">
            var countdown=6;
            function settime(obj) {

                if (countdown == 0) {
                    obj.removeAttribute("disabled");
                    obj.value="提交中";
                    countdown = 6   ;
                    return;
                } else {
                    obj.setAttribute("disabled", true);
                    obj.value="重新提交("+ countdown +")";
                    countdown--;
                }
                setTimeout(function() {
                    settime(obj) }
                    ,1000)
            }
            function setDisable(obj) {
                obj.setAttribute("disabled", true);
            }

            function isMobile(str)
            {
                if(/^(1|1|1|1|1)\d{10}$/.test(str) && str.length == 11)
                {
                    return true;
                }
                return false;
            }
        </script>
        <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    </head>

    <body class="no-skin">
        <include file="Public/header" />
        <div class="main-container" id="main-container">
            <script type="text/javascript">
                try{ace.settings.check('main-container' , 'fixed')}catch(e){}
            </script>

            <include file="Public/sidebar" />
            <div class="main-content">
                <div class="main-content-inner">
                    <!-- #section:basics/content.breadcrumbs -->
                    <include file="Public/breadcrumbs" />

                    <!-- /section:basics/content.breadcrumbs -->
                    <div class="page-content">
                        <include file="Public/set" />

                        <!-- /section:settings.box -->
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- PAGE CONTENT BEGINS -->
                                <form class="form-horizontal" action="{:U('search')}" method="post" name="form">   
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right" for="form-field-10">省份</label>
                                        <div class="col-sm-9">
                                            <select id="areacode" name="data[areacode]" class="rcol-xs-10 col-sm-5" required readonly="true">
                                                <option value="">----请选择省份----</option>
                                                <option value="025" selected>江苏</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="space-4"></div>                                    
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right" for="form-field-10">号码地市</label>
                                        <div class="col-sm-9">
                                            <select id="region" name="info[region]" class="rcol-xs-10 col-sm-5" required>
                                                <option value="" selected>--请选择号码地市--</option>
                                                <volist name="city" id="v">
                                                    <option value="{$v['areaname']}">{$v['areaname']}</option> 
                                                </volist>  
                                            </select>

                                        </div>
                                    </div>

                                    <div class="space-4"></div>                                    
                                    <div class="form-group">

                                        <label class="col-sm-1 control-label no-padding-right" for="form-field-10">商品类型</label>
                                        <div class="col-sm-9">
                                            <select id="offer_id" name="info[offer_id]" class="rcol-xs-10 col-sm-5" required>
                                                <option value="">----请选择----</option>
                                                <volist name="offers" id="o">
                                                    <option value="{$o['offer_id']}">{$o['offer_name']}-{$o['price']}元</option> 
                                                </volist>   
                                            </select>

                                        </div>
                                    </div>

                                    <div class="space-4"></div>                                    
                                    <div class="form-group">

                                        <label class="col-sm-1 control-label no-padding-right" for="form-field-10">商品价格</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="price" id="price" placeholder="商品价格" class="col-xs-10 col-sm-5" value="" >                                       
                                        </div>
                                    </div>



                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 手机号码 </label>
                                        <div class="col-sm-9">
                                            <input type="text" name="info[mobile]" id="mobile" placeholder="手机号码" class="col-xs-10 col-sm-5" value="" >                                       
                                        </div>
                                    </div>

                                    <div class="space-4"></div>

                                    <div class="form-group">

                                        <label class="col-sm-1 control-label no-padding-right" for="form-field-10">显示数量</label>
                                        <div class="col-sm-9">
                                            <select id="maxnum" name="info[maxnum]" class="rcol-xs-10 col-sm-5" required>
                                                <option value="100" selected>100</option>
                                                <option value="200">200</option>
                                                <option value="300">300</option>
                                                <option value="400">500</option>
                                                <option value="500">500</option>

                                            </select>

                                        </div>
                                    </div>


                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 号码说明 </label>
                                        <div class="col-sm-9">
                                            <textarea name="keywords" id="keywords" placeholder="" class="col-xs-10 col-sm-5" rows="8">1)空代表不指定号码 &nbsp;&nbsp;2)?7788代表匹配以7788结尾的号码 &nbsp;&nbsp;3)138138?   代表匹配以138138打头的号码 &nbsp;&nbsp;4)138?01 代表查询138打头,01结尾的号码
                                            </textarea> 

                                        </div>
                                    </div>
                                    、
                                    <div style="display: none; font: 200;" id="apptc" > </div>
                                    <div class="col-md-offset-2 col-md-9">
                                        <button class="btn btn-info" type="submit" id="btn" >
                                            <i class="icon-ok bigger-110"></i>
                                            查询
                                        </button>

                                        &nbsp; &nbsp; &nbsp;
                                        <button class="btn" type="reset">
                                            <i class="icon-undo bigger-110"></i>
                                            重置
                                        </button>
                                    </div>
                                </form>
                                <!-- PAGE CONTENT ENDS -->
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.page-content -->
                </div>
            </div><!-- /.main-content -->
            <include file="Public/footer" />

        </div><!-- /.main-container -->

        <include file="Public/footerjs" />
        <!-- inline scripts related to this page -->
        <script src="__PUBLIC__/qwadmin/js/date-time/bootstrap-datepicker.js"></script>

    </body>
    <SCRIPT type=text/javascript>
        $(function(){ 
            $('#offer_id').change(function () {
                var obj = $("#offer_id option:selected");
                var  artime_text  = obj.text(); 
                var arr = artime_text.split('-');
                $("#price").val(arr[1]); 
            })
        });

    </SCRIPT>

</html>
